package common

import (
	"atomic-go-template/web/layout"
	"net/http"
)

templ AlertWithLayout(r *http.Request, data AlertData) {
	@layout.Base(r) {
		<div class="flex w-full justify-center">
			@Alert(data)
		</div>
	}
}
