PORT=8080
APP_ENV=local

APP_NAME=My-Go-Template
APP_URL=http://localhost:8080

# for JWT Cookie f.e.
SECRET_KEY=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_FROM_NAME=

# Database
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=go-template
DB_USERNAME=nick
DB_PASSWORD=password
DB_SCHEMA=public
