PORT=8080
APP_ENV=local

APP_NAME=atomic-go-template
APP_URL=http://localhost:8080

# for JWT Cookie f.e.
SECRET_KEY=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_FROM_NAME=

# Database If SQLite
DB_FILE=db/test.db

# Database If Postgres
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=go-template
DB_USERNAME=nick
DB_PASSWORD=password
DB_SCHEMA=public
