package web

import (
	"my-go-template/web/layout"
	"net/http"
)

templ HelloForm(r *http.Request) {
	@layout.Base(r) {
		<form hx-post="/hello" method="POST" hx-target="#hello-container">
			<input class="border" id="name" name="name" type="text"/>
			<button type="submit">Submit</button>
		</form>
		<div id="hello-container"></div>
	}
}

templ HelloPost(name string) {
	<div>Hello, { name }</div>
}
